{% extends 'base.html' %}
{% load static %}
{% load mail_service_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/new_mailing.css' %}">
{% endblock %}

{% block content %}
<div class="correction" style="margin-bottom:5em;"></div>

<div class="main-content">
    <div class="mailing-form">
        {% if new_letter == 'new' %}
            <div class="mailings-title">NEW MAILING</div>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="hidden" name="service_name" value="{{session.mailing_type}}">
                <button type="submit">Submit</button>
            </form>

            <div class="service-buttons">
                <a class="letter-choice simple-button" href="?new_letter=no">select from list</a>
            </div>
        {% else %}
            <div class="mailings-title">LETTERS LIST</div>

            <div class="mailings-list">
                {% get_letters as letters %}
                {% for letter in letters %}
                    {% include 'includes/letter.html' %}
                {% endfor %}
            </div>

            <div class="service-buttons">
                <a class="letter-choice simple-button" href="?new_letter=new">write a new letter</a>
            </div>
        {% endif %}
    </div>

    <div class="recipients">
        <div class="recipients-title">RECIPIENTS LIST</div>

        <div class="recipients-list">
            {% get_recipients_list as recipients_list %}
            {% for recipient in recipients_list %}
                {% include 'includes/recipient.html' %}
            {% endfor %}
        </div>

        <div class="service-buttons">
            <a href="?action=add_all" class="add-all-button simple-button">add all</a>
            <a href="?action=remove_all" class="remove-all-button simple-button">remove all</a>
        </div>
    </div>
</div>
{% endblock %}