.mailing {
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.recipients, .letter, .period {
    width: 32%;
    background-color: #666666;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.recipients-title, .letter-title, .period-title {
    background-color: #505050;
    border-radius: 0.25em 0.25em 0 0;
    border-bottom: solid 1px #000;
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
    font-size: 2em;
    color: #252525;
}

.recipients-list, .letter-content, .period-details {
    padding: 1em;
    color: #252525;
}

.period-row {
    display: flex;
    justify-content: space-between;
}