.main-content {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.clients, .mailings, .mailing, .client {
    width: 49%;
    background-color: #666666;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.items-list {
    overflow: auto;
    height: 35em;
}

.block-title {
    border-bottom: solid 1px #000;
    padding-top: 0.25em;
    height: 1.5em;
    font-size: 2em;
    text-align: center;
    color: #252525;
    font-weight: bold;
    background-color: #505050;
}

.mailing, .client {
    margin: 1em auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.activate-button, .deactivate-button {
    display: block;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #252525;
    color: #bbb7b7;
    padding-top: 0.5em;
    width: 8em;
    height: 2em;
    text-align: center;
}

.activate-button:hover, .deactivate-button:hover {
    background-color: #666666;
}

.activate-button {
    background-color: green;
}

.deactivate-button {
    background-color: red;
}