.main-content {
    display: flex;
    justify-content: space-between;
    margin-inline: 2em;
}

.mailing-form, .recipients {
    width: 49%;
    height: 30em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #666666;
}

.mailing-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipients {
    display: flex;
    flex-direction: column;
}

.recipients-list, .mailings-list {
    overflow: auto;
}

.service-buttons {
    background-color: #505050;
    border-radius: 0 0 0.5em 0.5em;
    border-top: solid 1px #000;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

.recipient {
    display: flex;
    margin: 1em;
    height: 3em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #666666;
    justify-content: space-between;
}

.letter {
    margin: 1em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #666666;
    justify-content: space-between;
}

.letter-control {
    display: flex;
    margin: 0.1em;
    height: 3em;
    background-color: #666666;
    justify-content: space-between;
}

.full-letter {
    padding: 1em;
    border-top: solid 1px #000;
}

.recipient-name, .subject {
    margin: 1em;
    font-weight: bold;
    color: #252525;
}

.simple-button {
    display: block;
    background-color: #252525;
    color:  #bbb7b7;
    text-align: center;
    padding-top: 0.5em;
    border: solid 1px #000;
    border-radius: 0.5em;
    width: 12em;
    height: 2em;
    margin: 0.5em;
}

.simple-button:hover {
    background-color: #666666;
}

.letter-buttons {
    display: flex;
}

.letter-buttons > a {
    width: 8em;
}

.remove-recipient-button, .remove-all-button, .remove-letter-button {
    background-color: red;
}

.remove-recipient-button:hover,
.add-recipient-button:hover,
.add-all-button:hover,
.remove-all-button:hover,
.letter-choice:hover,
button:hover {
    background-color: #666666;
}

.recipients-title, .mailings-title {
    background-color: #505050;
    border-radius: 0.25em 0.25em 0 0;
    border-bottom: solid 1px #000;
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
    font-size: 2em;
    color: #252525;
}

form {
    width: 100%;
}

label {
    display: block;
    margin: 1em;
    color: #252525;
}

input, textarea {
    background-color: #909090;
    margin-left: 2.5%;
    padding: 1em;
    border: solid 1px #000;
    border-radius: 0.5em;
    height: 3em;
    width: 95%;
}

textarea {
    resize: none;
    height: 8em;
}

button {
    border: solid 1px #000;
    border-radius: 0.5em;
    height: 3em;
    width: 40%;
    margin-left: 30%;
    margin-top: 2.5%;
    color:  #bbb7b7;
    background-color: red;
}

.days-choice-block {
    margin: 2em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #666666;
}

.days-choice-title {
    background-color: #505050;
    border-radius: 0.25em 0.25em 0 0;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px #000;
    color: #252525;
    padding: 0.2em;
}

.days {
    padding-inline: 0.5em;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

.month-day, .week-day {
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
    margin-top: 0.5em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #252525;
    color: #bbb7b7;
}

.month-day:hover, .week-day:hover {
    background-color: #666666;
}

.month-day {
    width: 2em;
}

.week-day {
    width: 10em;
}

.active-day {
    background-color: red;
}