.main-content {
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #707070;
    color: red;
    height: 15em;
    width: 60em;
    margin: 6em auto;
    padding-top: 2em;
    text-align: center;
    position: relative;
}

.login-button {
    position: absolute;
    bottom: 1em;
    left: 25em;
    display: block;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #252525;
    padding-top: 1em;
    height: 3em;
    width: 10em;
    text-align: center;
    color: #bbb7b7;
}

.login-button:hover {
    background-color: #505050;
}