.message {
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #707070;
    color: red;
    height: 5em;
    width: 60em;
    margin: 10em auto;
    padding-top: 2em;
    text-align: center;
}