{% extends 'base.html' %}
{% load static %}
{% load mail_service_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/manager_panel.css' %}">
{% endblock %}

{% block content %}
<div class="top-correction"></div>

<div class="main-content">
    <div class="clients">
        <div class="block-title">MAILINGS</div>

        <div class="items-list">
            {% get_all_mailings as all_mailings %}
            {% for mailing in all_mailings %}
                <div class="mailing">{% include 'includes/mailing_management.html' %}</div>
            {% endfor %}
        </div>
    </div>

    <div class="mailings">
        <div class="block-title">CLIENTS</div>

        <div class="items-list">
            {% get_all_clients as all_clients %}
            {% for client in all_clients %}
                {% if not client.is_staff and client != user %}
                    <div class="client">{% include 'includes/client_management.html' %}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}