{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
{% endblock %}

{% block content %}
<div class="article">
    <div class="article-title">{{ article.name }}</div>
    <img class="article-img" src="{{ article.img.url }}">
    <div class="text">
        <div class="article-content">{{ article.content }}</div>
        <div class="article-date">{{ article.create_date }}</div>
    </div>
    <a class="edit-button" href="{% url 'blog:update' article.pk %}">edit</a>
    <a class="delete-button" href="{% url 'blog:delete' article.pk %}">delete</a>
</div>
{% endblock %}